* {
 font-family: Verdana;
 font-size: 12px;
} 

:root {
  --wrapper-margin-top: 100px;
  --wrapper-height: calc(100vh - var(--wrapper-margin-top));
  --box-shadow-color: #bfbfbf;
  --background: #fff;
  --background-body: #a9a9a9;
  --tongle:#dbdbdb;
  --naming_of: #8a2be2;
} 

html{
  overflow-x: hidden;
}

body{
  width: 100%;
  background: #FFE4E1;
  box-sizing: border-box;
}

body.dark{
  --box-shadow-color: #cbc6c6;
  --background: #463b3b;
  --background-body:#9b9090;
  --naming_of: #8a2be2;
  --tongle:#dbdbdb;
}

.container{
  margin: 5px 50px 5px 50px;
  background: #FFF0F5;
  box-shadow: 0 0 1px 1px #000;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  flex-grow: 1;
}

.menu a,
.menu .active {
  display: block;
  padding: 10px 10px;
}

.header, h1{
  font-family: Arial, sans-serif;
  font-size: 70px;
  text-align: center;
  padding-top: 10px;
  color: #ba7fa2;
}

.menu, h2{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  text-align: left;
  padding-top: 0;
}

.menu, h3{
  font-family: Verdana, sans-serif;
  font-size: 15px;
  text-align: left;
  padding-top: 0;
}

.menu, ul{
  display: flex;
  flex-flow: row nowrap;
  margin: 1px 135px 0;
  padding: 0;
  font-size: 16px;
  line-height: 10px;
  list-style-type: none;
  text-decoration: none;
}

.menu, li {
  font-family: 'Times New Roman',serif;
  font-size: 25px;
  text-align: left;
  padding-top: 1px;
}

.leftstr, .rightstr {
  float: left; 
  width: 50%; 
}
.rightstr {
  text-align: right; 
}

.photo{
  float: left;
  padding: 10px 10px 10px 10px;
  margin: 20px 24px 10px 30px;
}

#toggle-theme-btn {
  position: absolute;
	top: 8px;
	left: 58px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 10px;
	border-radius: 3px;
	transition: 0.3s;
}

#toggle-theme-btn:hover {
	background: #ba7fa2;
}

#toggle-theme-btn img {
	width: 32px;
}

/* #toggle-theme-btn:hover {
  background: #dbdbdb;
  border: 3px dotted blueviolet;
} */

.content{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}

a{
  color: #ba7fa2;
  font-size: 15px;
}
a:hover{
  color:brown;
}

a:visited{
  color:#ba7fa2;
}